.main-list
  - @todoLists.each do |todo_list|
    .task
      - if todo_list.user_id == current_user.id
        .task__delete
          = link_to todo_list_path(todo_list), method: :delete, class: :"task__delete__link", data: {confirm: "本当に削除しますか？"} do
            = icon('fas', 'times')
      - else
        .task__delete--alt
          = icon('fas', 'times')
      .task__title
        = todo_list.title
      .task__creater
        作成者：
        = todo_list.user.name
      .task__created_at
        作成日：
        = l(todo_list.created_at, format: :long)
      .task__option
        %p.task__option__lank
          = "#{todo_list.lank}ランク"
        %p.task__option__star
          = "★×#{todo_list.star}"
        %p.task__option__d-line
          = "#{todo_list.deadline_date}まで"
        %p.task_option__limited
      .task__content
        = todo_list.content